<h3>Welcome</h3>
<p>
  <% current_user.admin_companies.sort_by_full_name.each_with_index do |company, index| %>
    <% id = "admin_#{index}" %>
    <%= link_to(new_front_end_user_path(company: company.id), id: id) do %>
      <button type="button" class="btn btn-lg btn-primary">add new user</button>
    <% end %>
    <label for="<%= id %>"><%= company.full_name %></label>
  <% end %>
</p>

<p>
  <% current_user.employee_companies.sort_by_full_name.each_with_index do |company, index| %>
    <% id = "employee_#{index}" %>
    <%= link_to(benefits_front_end_user_path(current_user, company: company.id), id: id) do %>
      <button type="button" class="btn btn-lg btn-primary">select benefits</button>
    <% end %>
    <label for="<%= id %>"><%= company.full_name %></label>
  <% end %>
</p>
